/*https://www.color-hex.com/color-palette/35551*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.sol{
    height: 100vh; 
    width: 50vw;
    border-radius: 50%;
    background-color: orange;
    margin-left: -25%;

    animation: brillar 2.5s alternate infinite;  
}

@keyframes brillar{
    from{border: 20px solid rgb(255, 255, 0, 0.5);}
    to{border: 40px solid rgb(255, 0, 0,0.5);}
}

.mercurio, .venus, .tierra, .marte, .jupiter, .saturno, .urano, .neptuno, .pluton{
    display: flex;
    align-items: center;
    justify-content: center;   
    border-radius: 50%; 
    position: absolute;
    top:50%;
}

.mercurio{
    height: 5vh;
    width: 2.5vw;
    background-image: linear-gradient(to right, #e7e8ec, #dddce0, #d4d1d4, #c9c6c8, #bfbbbc, #b4b0b1, #aaa6a7, #9f9b9c, #928e90, #848184, #767579, #68696d);;
    animation:orbitar1 4s linear infinite;
}

@keyframes orbitar1 {
    from{transform:rotate(0deg)translateX(30vw) rotate(0deg);}
    to{transform:rotate(360deg)translateX(30vw) rotate(-360deg)}   
}

.venus{
    height: 10vh;
    width: 5vw;
    background-image: linear-gradient(to right, #f8e2b0, #f4dba5, #f0d49a, #eccc8f, #e8c584, #e2be7c, #dbb675, #d5af6d, #cba667, #c19e60, #b7955a, #ad8d54);
    animation:orbitar2 6s linear infinite;
}

@keyframes orbitar2 {
    from{transform:rotate(0deg)translateX(33vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(33vw) rotate(-360deg)}   
}

.tierra{
    height: 10vh;
    width: 5vw;
    background-color: gray;
    animation:orbitar3 8s linear infinite;
}

@keyframes orbitar3 {
    from{transform:rotate(0deg)translateX(38.5vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(38.5vw) rotate(-360deg)}
    
}

.marte{
    height: 6vh;
    width: 3vw;
    background-image: linear-gradient(to right top, #451804, #5a2009, #71280c, #88300d, #a0380e, #b1440e, #c1500d, #d25c0a, #de6e06, #e98102, #f49300, #fda600);
    animation:orbitar4 10s linear infinite;
}

@keyframes orbitar4 {
    from{transform:rotate(0deg)translateX(44vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(44vw) rotate(-360deg)}
    
}

.jupiter{
    height: 20vh;
    width: 10vw;
    background-image: linear-gradient(to bottom, #f8e2b0, #f4dba5, #f0d49a, #eccc8f, #e8c584, #e2be7c, #dbb675, #d5af6d, #cba667, #c19e60, #b7955a, #ad8d54);
    animation:orbitar5 12s linear infinite;
}

@keyframes orbitar5 {
    from{transform:rotate(0deg)translateX(47.5vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(47.5vw) rotate(-360deg)}
    
}

.saturno{
    height: 25vh;
    width: 12.5vw;
    background-image: linear-gradient(to bottom, #e2bf7d, #dcb674, #d6ae6b, #d1a563, #cb9d5a, #cda15d, #cfa561, #d1a964, #dcba75, #e6cb87, #f1dd9a, #fceead);
    animation:orbitar6 14s linear infinite;
}


@keyframes orbitar6 {
    from{transform:rotate(0deg)translateX(58vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(58vw) rotate(-360deg)}
    
}

.urano{
    height: 15vh;
    width: 7.5vw;
    background-image: linear-gradient(to right top, #afdbf5, #a0d3f2, #92caef, #83c2ed, #75b9ea, #6ab2e7, #60aae4, #55a3e1, #4b9bdc, #4293d8, #388cd3, #2e84ce);
    animation:orbitar7 16s linear infinite;
}

@keyframes orbitar7 {
    from{transform:rotate(0deg)translateX(71vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(71vw) rotate(-360deg)}
    
}

.neptuno{
    height: 12vh;
    width: 6vw;
    background-image: linear-gradient(to right top, #477efd, #1d92ff, #00a5ff, #18b5ff, #45c4ff, #47bdf7, #48b5ee, #49aee6, #3090d3, #2373be, #2455a6, #2b378b);
    animation:orbitar8 18s linear infinite;
}

@keyframes orbitar8 {
    from{transform:rotate(0deg)translateX(79vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(79vw) rotate(-360deg)}
    
}

.pluton{
    height: 3vh;
    width: 1.5vw;
    background-image: linear-gradient(to right top, #968570, #a7957e, #b9a58c, #cbb59a, #ddc6a9, #e2cbad, #e6cfb0, #ebd4b4, #e3cdad, #dbc7a6, #d4c0a0, #ccba99);    border-radius: 50%;
    animation:orbitar9 20s linear infinite;
}

@keyframes orbitar9 {
    from{transform:rotate(0deg)translateX(85.5vw)  rotate(0deg);}
    to{transform:rotate(360deg)translateX(85.5vw) rotate(-360deg)}
    
}



